:host {
    display: flex;
    column-gap: 1rem;
    align-items: center;
}

label {
    font-size: 1.2rem;
    font-weight: bold;
}

select {
    width: 100px;
    height: 40px;
    border-radius: 5px;
    outline: none;
    box-shadow: none;
    &:focus {
        border: 1px solid var(--app-input-elemnt-hover-color);
    }

    option {
        margin: 5px 0;
    }
}

@media screen and (max-width: 768px) {

    :host {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    > *:not(label), select {
        width: 100%;
        text-align: center;
        font-size: 1.2rem;
        font-weight: bold;
        height: 60px;
        margin: 10px;
    }
    select * {
        font-weight: bold;
        text-align: center;
    }
  }