<div class="container" [formGroup]='form'>
    <h3>Currency Converter</h3>
    <div class="converter-container">
        <input class="amount-input" 
               type="number"
               formControlName='amount'
               name="amount">
        <label for="select-from">From:</label>
        <select formControlName='from' name="select-from" id="select-from">
            <ng-container *ngFor="let currency of currencies$ | async">
                <option [value]="currency?.short">{{currency?.short}}</option>
            </ng-container>
        </select>
        <label for="select-to">To:</label>
        <select formControlName='to' name="select-from" id="select-to">
            <ng-container *ngFor="let currency of currencies$ | async">
                <option [value]="currency?.short">{{currency?.short}}</option>
            </ng-container>
        </select>
    </div>
</div>
<app-display [data]="currentRate$ | async"></app-display>
