<div class="container" [formGroup]='form'>
    <h3 class='converter-header'>Currency Converter</h3>
    <div class="converter-inputs-container">
        <input class="converter-amount-input"
               tabindex
               type="number"
               min="0"
               formControlName='amount'
               name="amount">
        <ng-container *ngIf="currencies$ | async as currencies">
            <app-currency-selector [currencies]="currencies" 
                                   accesabilityName="select-from"
                                   label="From"
                                   formControlName="from"></app-currency-selector>
            <app-currency-selector [currencies]="currencies"
                                   accesabilityName="select-from"
                                   label="To"
                                   formControlName="to"></app-currency-selector>
        </ng-container>
    </div>
</div>
<app-display [data]="currentRate$ | async"></app-display>
