.container {
    display: flex;
    flex-direction: column;
    align-items: center;

    .converter-header {
        font-size: 1.5rem;
    }

    label {
        font-size: 1.2rem;
        font-weight: bold;
    }

    select {
        width: 100px;
    }

    input {
        font-size: 1.5rem;
        border: 1px solid;
        text-align: center;
    }

    select, input {
        height: 40px;
        border-radius: 5px;
        outline: none;
        box-shadow: none;
    }

    select, input {
        &:focus {
            border: 1px solid var(--app-input-elemnt-hover-color);
        }
    }

    option {
        margin: 5px 0;
    }

    .converter-inputs-container {
        display: flex;
        align-items: center;
        column-gap: 10px;
    }
}

@media screen and (max-width: 768px) {

    .converter-inputs-container {
        flex-direction: column;
        row-gap: 20px;
        width: 100%;
        padding: 0 25px;

        > *:not(label), select {
            width: 100%;
            text-align: center;
            font-size: 1.2rem;
            font-weight: bold;
            height: 60px;
        }

        input {
            font-size: 2rem;
        }

        select * {
            font-weight: bold;
        }
    }
  }