<div class="container" [formGroup]='form'>
    <h3 class='converter-header'>Currency Converter</h3>
    <div class="converter-inputs-container">
        <input class="converter-amount-input" 
               type="number"
               min="0"
               formControlName='amount'
               name="amount">
        <label for="select-from">From:</label>
        <select class="converter-from-select"  
                formControlName='from' 
                name="select-from">
            <ng-container *ngFor="let currency of currencies$ | async">
                <option [value]="currency?.short">{{currency?.short}}</option>
            </ng-container>
        </select>
        <label for="select-to">To:</label>
        <select class="converter-to-select" 
                formControlName='to' 
                name="select-from">
            <ng-container *ngFor="let currency of currencies$ | async">
                <option [value]="currency?.short">{{currency?.short}}</option>
            </ng-container>
        </select>
    </div>
</div>
<app-display [data]="currentRate$ | async"></app-display>
