.container {
    display: flex;
    justify-content: center;
    align-items: center;

    p {
        color: var(--app-converter-display-text-color);
        font-size: 1.3rem;
        font-weight: bold;
    }

    .equals {
        margin: 0 6px;
    }
}