.container {
    display: flex;
    justify-content: center;
    align-items: center;

    .currenty-text {
        color: var(--app-converter-display-text-color);
        font-size: 1.3rem;
        font-weight: bold;
    }

    .equals {
        margin: 0 6px;
    }
}

@media screen and (max-width: 768px) {
  .container {
    display: flex;
    flex-direction: column;
    .currenty-text {
        font-size: 1.5rem;
    }
  }
}