<ng-container *ngIf="(dataSource$ | async)?.length; else noData">
  <mat-table class="history-table scroller" [dataSource]="dataSource$">
    <ng-container *ngFor="let col of columns;" [matColumnDef]="col">
      <mat-header-cell *matHeaderCellDef>{{col}}</mat-header-cell>
      <mat-cell *matCellDef="let element">
        {{col === dateColumn ? (element[col.toLowerCase()] | date : dateFomat ) : element[col.toLowerCase()]}}
      </mat-cell>
    </ng-container>
    <mat-header-row class="history-table-header" *matHeaderRowDef="columns; sticky: true"></mat-header-row>
    <mat-row *matRowDef="let row; columns: columns"></mat-row>
  </mat-table>
</ng-container>

<ng-template #noData>
  <div class="history-empty-container">
    <a [routerLink]="['/',appRoutes.CONVERTER]">Please Add Convertions</a>
  </div>
</ng-template>

