:root {
    --app-header-color: #098edb;
    --app-header-height-desktop: 45px;
    --app-router-link-active-color: #ffeb3b;
    --app-converter-display-text-color: #2689ef;
  }


body,
html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 14px;
  box-sizing: border-box;
}

body {
    * {
        box-sizing: border-box;
    }
  }